<!DOCTYPE html>
<html>
<head>
  <title>AntiProcrastination</title>
</head>
<body>

<div class="center"><h1>  Today is <%= Time.now.strftime("%A, %B %d") %>. </h1> </div>

<div class="createt"><%= link_to 'Create Task', new_task_path%></div>
 
  <div class="sorts">
     <%= sortable "title"%> 
     <%= sortable "due"%> 
     <%= sortable "priority"%> 
     <%= sortable "created_at", "Created"%>
  </div>


  <% @tasks.each do |t| %>
      <% if t.done == false %>
      <% if t.priority == 1%><div class="square1"><% end %><% if t.priority == 2%><div class="square2"><%end %><% if t.priority == 3%><div class="square3"><% end %> 
      <div class="title"><%= t.title %></div>
      <div class="description"><%= t.description%></div>
      <div class="details">
      Priority: <% if t.priority == 1%>High<% end %><% if t.priority == 2%>Medium<%end %><% if t.priority == 3%>Low<% end %> <br>
      Created <%= distance_of_time_in_words(t.created_at, Time.now) %> ago. <br> 
      Complete before <%= t.due.strftime("%A %m/%d at %I:%M") %> <br>

      <%= link_to 'Edit', edit_task_path(t) %>
      <%= link_to 'Delete', task_path(t), method: :delete %>
      </div>
     </div>
  <% end %>
     <% if t.done == true %>
     <h2> Finished Tasks </h2>
     <% end %>
  <% end %>  

</body>

