<!DOCTYPE html>
<html>
<head>
  <title>AntiProcrastinationApp</title>
</head>
<body>

<div class="center"><h1>  Today is <%= Time.now.strftime("%A, %B %d") %>. </h1> </div>

<div class="createt"><%= link_to 'Create Task', new_task_path%></div>
 
  <!-- Sorting mechanisms.  Use helper functions. -->
  <div class="sorts">
     <%= sortable "title"%> 
     <%= sortable "due"%> 
     <%= sortable "priority"%> 
     <%= sortable "created_at", "Created"%>
     <%= sortable "done", "Finished" %>
  </div>


  <% @tasks.each do |t| %>
    <!-- Displays all pending tasks -->
    <% if t.done == false %>
      <!-- Colors task square according to priority -->
      <% if t.priority == 1%><div class="square1"><% end %><% if t.priority == 2%><div class="square2"><%end %><% if t.priority == 3%><div class="square3"><% end %> 
      <div class="title"><%= t.title %></div>
      <div class="description"><%= t.description%></div>
      <div class="details">
      <!-- Priority is mapped to numbers 1,2,3.  -->
      Priority: <% if t.priority == 1%>High<% end %><% if t.priority == 2%>Medium<%end %><% if t.priority == 3%>Low<% end %> <br>
      <!-- Difference between now and when created in words -->
      Created <%= distance_of_time_in_words(t.created_at, Time.now) %> ago. <br>
      <!-- Due date  -->
      Complete before <%= t.due.strftime("%A %m/%d at %I:%M") %> <br>

      <%= link_to 'Edit', edit_task_path(t) %>
      <%= link_to 'Delete', task_path(t), method: :delete %>
      <%= link_to 'Done', flop_task_path(t) %>
      </div>
     </div>
    <% end %>
  <% end %>
  <% if @tasks.count == 0 %>
    <div class="center"> <h3> You have not completed a task. </h3></div>
  <% end %>

  <!-- Trying to figure out a way to check if there is more than 1 finished tasks
  <% if @tasks.count > 0 %>
    <span> <div class="center1"> <h3> Finished: </h3> </div> </span>
  <% end %>
  -->

  <!-- This block is used to display finished Tasks. -->   
  <% @tasks.each do |t| %>
    <% if t.done == true%>
      <div class="squareDone"> 
        <div class="title"><%= t.title %><div class="details">has been completed.
        <%= link_to 'Delete', task_path(t), method: :delete %>
        </div>

      </div>
      </div>
    <% end %>
   <% end %>

</body>

