<!DOCTYPE html>
<html>
<head>
  <link href="/assets/custom.css?body=1" media="screen" rel="stylesheet">
  <link href="/assets/bootstrap.css?body=1" media="screen" rel="stylesheet">
  <title>AntiProcrastination</title>
</head>
<body>
<h2> Current Tasks </h2> 

<pre><%= link_to 'Create Task', new_task_path%><br>

<table> 
  <tr> 
    <th> <%= sortable "title"%> </th>
    <th> Description </th>
    <th> <%= sortable "due"%> </th>
    <th> <%= sortable "priority"%> </th>
  </tr>

  <% @tasks.each do |t| %>
    <tr>
      <td><%= t.title %></td>
      <td><%= t.description %></td>
      <td><%= t.due %></td>
      <td>  <% if t.priority == 1%>
	    High 
  <% end %>
  <% if t.priority == 2%>
	Medium
  <% end %>
  <% if t.priority == 3%>
	Low
  <% end %> </td>
      <td><%= link_to 'Show', task_path(t) %></td>
      <td><%= link_to 'Edit', edit_task_path(t) %></td>
      <td><%= link_to 'Destroy', task_path(t),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr> 
  <% end %>  
</table>

</body>

