
<body>

<p> 
  <strong>Task: </strong>
  <%= @task.title %> 
</p>

<p>
  <strong>Category: </strong>
  <%= @task.category %>
</p>

<p>
  <strong> Description: </strong>
  <%= @task.description %> 
</p>

<p>
  <strong> Due Date: </strong>
  <%= @task.due.strftime("%I:%M on %A %m-%d-%Y") %>
</p>

<p>
  <strong> Priority: </strong>
  <% if @task.priority == 1%>
	High
  <% end %>
  <% if @task.priority == 2%>
	Medium
  <% end %>
  <% if @task.priority == 3%>
	Low
  <% end %>

</p>

<%= link_to 'Back', tasks_path %>

</body>
