<!DOCTYPE html>
<html>
<head>
  <title>AntiProcrastination</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<style type="text/css">
	body{
		background-color: #ADD8E6;
	}
	h1{
		color: #0000CD;
		text-decoration: bold;
		font-family: "Helvetica"
	}
	p{
		color: #0000CD;
		font-family: "Helvetica"
	}
	a{
		color: #00008B;
		font-family: "Helvetica"
	}
}
</style>

<h1> AntiProcrastination App </h1>
<%= link_to 'View Current Tasks', controller: 'tasks' %>
<br>
<%= link_to 'Add a task', new_task_path %>
<%= yield %>
